fastapi
uvicorn[standard]
python-multipart
asyncpg
cohere
google-genai
langchain-text-splitters
pypdf
python-docx
python-dotenv
python-jose
email-validator
google-api-python-client
google-auth-httplib2
google-auth-oauthlib